    <div class="container p1">
      <div class="site-width">
        <h2>Full width</h2>
        <!-- catch(tab) -->
        <!-- catch(source) -->
        <div class="outer-jsc"><!-- Implementation specific container -->

          <!-- Begin Carousel -->
          <div class="carousel" data-carousel-delay="5000" data-carousel-indicators="">
            <div class="carousel-slider">

              <!-- Begin item -->
              <div class="carousel-item" data-carousel-href="https://pike.lysator.liu.se/">
                <div class="carousel-item-text">
                  <h3>Header for the first item</h3>
                  <p>This is text for the first item</p>
                </div>
                <img src="images/transparent-pixel.gif"
                     data-carousel-src="images/img-mobile-1.png"
                     data-carousel-mq-768="images/img-desktop-1.png"
                     data-carousel-mq-414="images/img-tablet-1.png"
                     alt="Image 1" />
              </div>
              <!-- /End item -->

              <!-- Begin item -->
              <div class="carousel-item">
                <div class="carousel-item-text">
                  <h3>Header for the second item</h3>
                  <p>This is text for the second item</p>
                </div>
                <img src="images/transparent-pixel.gif"
                     data-carousel-src="images/img-mobile-2.png"
                     data-carousel-mq-768="images/img-desktop-2.png"
                     data-carousel-mq-414="images/img-tablet-2.png"
                     alt="Image 2" />
              </div>
              <!-- /End item -->

              <!-- Begin item -->
              <div class="carousel-item">
                <div class="carousel-item-text">
                  <h3>Header for the third item</h3>
                  <p>This is text for the third item</p>
                </div>
                <img src="images/transparent-pixel.gif"
                     data-carousel-src="images/img-mobile-3.png"
                     data-carousel-mq-768="images/img-desktop-3.png"
                     data-carousel-mq-414="images/img-tablet-3.png"
                     alt="Image 3" />
              </div>
              <!-- /End item -->

              <!-- Begin item -->
              <div class="carousel-item">
                <div class="carousel-item-text">
                  <h3>Header for the fourth item</h3>
                  <p>This is text for the fourth item</p>
                </div>
                <img src="images/transparent-pixel.gif"
                     data-carousel-src="images/img-mobile-4.png"
                     data-carousel-mq-768="images/img-desktop-4.png"
                     data-carousel-mq-414="images/img-tablet-4.png"
                     alt="Image 4" />
              </div>
              <!-- /End item -->

              <!-- Begin item -->
              <div class="carousel-item">
                <div class="carousel-item-text">
                  <h3>Header for the fifth item</h3>
                  <p>This is text for the fifth item</p>
                </div>
                <img src="images/transparent-pixel.gif"
                     data-carousel-src="images/img-mobile-5.png"
                     data-carousel-mq-768="images/img-desktop-5.png"
                     data-carousel-mq-414="images/img-tablet-5.png"
                     alt="Image 5" />
              </div>
              <!-- /End item -->

              <!-- Begin item -->
              <div class="carousel-item">
                <div class="carousel-item-text">
                  <h3>Header for the sixth item</h3>
                  <p>This is text for the sixth item</p>
                </div>
                <img src="images/transparent-pixel.gif"
                     data-carousel-src="images/img-mobile-6.png"
                     data-carousel-mq-768="images/img-desktop-6.png"
                     data-carousel-mq-414="images/img-tablet-6.png"
                     alt="Image 6" />
              </div>
              <!-- /End item -->

            </div>
          </div>
          <!-- /End Carousel -->
        </div>
        <!-- endcatch -->
        <!-- endcatch -->
      </div>
    </div>

    <!-- catch(css) -->
    <style type="text/x-example">
    .outer-jsc {
      position: relative;
      height: 450px;
      border: 1px solid #fff;
      margin: 0 auto;
    }
    </style>
    <!-- endcatch -->
