    <div class="container p1">
      <div class="site-width">
        <h2>Full width <small> with relative height and font size</small></h2>
        <!-- catch(tab) -->
        <!-- catch(source) -->
        <div class="outer-jsc"><!-- Implementation specific container -->

          <!-- Begin Carousel -->
          <div class="carousel"
               data-carousel-delay="8000"
               data-carousel-touch-threshold="160"
               data-carousel-indicators=""
               data-carousel-wrapper=".outer-jsc">

            <div class="carousel-slider">

              <!-- Begin item -->
              <div class="carousel-item"
                   data-carousel-href="https://pike.lysator.liu.se/"
                   data-carousel-keep-img=""
                   data-carousel-auto-height="">
                <img src="images/keep-img-mobile.png"
                      data-carousel-src="images/keep-img-mobile.png"
                      data-carousel-mq-768="images/keep-img-desktop.png"
                      data-carousel-mq-414="images/keep-img-tablet.png"
                      alt="Image 0">
              </div>
              <!-- /End item -->

              <!-- Begin item -->
              <div class="carousel-item" data-carousel-href="https://pike.lysator.liu.se/">
                <div class="carousel-item-text">
                  <h3>Header for the first item</h3>
                  <p>This is text for the first item</p>
                </div>
                <img src="images/img-mobile-1.png"
                     data-carousel-src="images/img-mobile-1.png"
                     data-carousel-mq-768="images/img-desktop-1.png"
                     data-carousel-mq-414="images/img-tablet-1.png"
                     data-carousel-photo-credit="Robert Capa"
                     data-carousel-photo-credit-mq-768="Rober Capa (mq-768)"
                     data-carousel-photo-credit-mq-414="Robert Capa (mq-414)"
                     alt="Image 1">
              </div>
              <!-- /End item -->

              <!-- Begin item -->
              <div class="carousel-item">
                  <div class="carousel-item-text">
                    <h3>Header for the second item</h3>
                    <p>This is text for the second item</p>
                  </div>
                  <img src="images/transparent-pixel.gif"
                      data-carousel-src="images/img-mobile-2.png"
                      data-carousel-mq-768="images/img-desktop-2.png"
                      data-carousel-mq-414="images/img-tablet-2.png"
                      data-carousel-photo-credit="John Doe"
                      alt="Image 2">
                </div>
                <!-- /End item -->

                <!-- Begin item -->
                <div class="carousel-item">
                  <div class="arbitrary-content">
                    <div class="arbitrary-content-content">
                      <h2>This is arbitrary <code>HTML</code> content</h2>
                      <p>In a div I have control over and no one else...</p>
                      <p>This is not an <code>IMG</code> tag... but this is
                      a <a href="https://pike.lysator.liu.se">link</a>
                      </p>
                    </div>
                  </div>
                </div>
                <!-- /End item -->

                <!-- Begin item -->
                <div class="carousel-item">
                  <div class="carousel-item-text">
                    <h3>Header for the third item</h3>
                    <p>This is text for the third item</p>
                  </div>
                  <img src="images/transparent-pixel.gif"
                      data-carousel-src="images/img-mobile-3.png"
                      data-carousel-mq-768="images/img-desktop-3.png"
                      data-carousel-mq-414="images/img-tablet-3.png"
                      alt="Image 3">
                </div>
                <!-- /End item -->

                <!-- Begin item -->
                <div class="carousel-item">
                  <div class="carousel-item-text">
                    <h3>Header for the fourth item</h3>
                    <p>This is text for the fourth item</p>
                  </div>
                  <img src="images/transparent-pixel.gif"
                      data-carousel-src="images/img-mobile-4.png"
                      data-carousel-mq-768="images/img-desktop-4.png"
                      data-carousel-mq-414="images/img-tablet-4.png"
                      alt="Image 4">
                </div>
                <!-- /End item -->

                <!-- Begin item -->
                <div class="carousel-item">
                  <div class="carousel-item-text">
                    <h3>Header for the fifth item</h3>
                    <p>This is text for the fifth item</p>
                  </div>
                  <img src="images/transparent-pixel.gif"
                      data-carousel-src="images/img-mobile-5.png"
                      data-carousel-mq-768="images/img-desktop-5.png"
                      data-carousel-mq-414="images/img-tablet-5.png"
                      alt="Image 5">
                </div>
                <!-- /End item -->

                <!-- Begin item -->
                <div class="carousel-item">
                  <div class="carousel-item-text">
                    <h3>Header for the sixth item</h3>
                    <p>This is text for the sixth item</p>
                  </div>
                  <img src="images/transparent-pixel.gif"
                      data-carousel-src="images/img-mobile-6.png"
                      data-carousel-mq-768="images/img-desktop-6.png"
                      data-carousel-mq-414="images/img-tablet-6.png"
                      alt="Image 6">
                </div>
                <!-- /End item -->

            </div>
          </div>
          <!-- /End Carousel -->
        </div>
        <!-- endcatch -->
        <!-- endcatch -->
      </div>
    </div>

    <!-- catch(css) -->
    <style type="text/x-example">
    /* scss */
    .outer-jsc {
      position:   relative;
      height:     450px;
      border:     1px solid #fff;
      margin:     0 auto;

      min-height: 180px;
      max-height: 450px;
      height:      40vw;

      background-color: #ddddd5;

      h3 { font-size: 1.6rem; }
      p { font-size: 1.2rem; }

      @media screen and (min-width: 768px) {
        h3 { font-size: 2.4rem; }
        p { font-size: 1.6rem; }
      }
    }
    </style>
    <!-- endcatch -->
