    <div class="container p2">
      <div class="site-width">
        <h2>Variable width, height and font size</h2>
        <p>Various dynamic metrics with some media directives.</p>
        <!-- catch(tab) -->
        <!-- catch(source) -->
        <div class="outer-jsc">
          <div class="carousel"
               data-carousel-delay="3000"
               data-carousel-rubberband-swipe="2">
            <div class="carousel-slider">
              <div class="carousel-item">
                <div class="carousel-item-text">
                  <h3>Header for the first item</h3>
                  <p>This is text for the first item</p>
                </div>
                <img src="images/transparent-pixel.gif"
                     data-carousel-src="images/img-desktop-1.png"
                     alt="Image 1">
              </div>
              <div class="carousel-item">
                <div class="carousel-item-text">
                  <h3>Header for the second item</h3>
                  <p>This is text for the second item</p>
                </div>
                <img src="images/transparent-pixel.gif"
                     data-carousel-src="images/img-desktop-2.png"
                     alt="Image 2">
              </div>
              <div class="carousel-item">
                <div class="carousel-item-text">
                  <h3>Header for the third item</h3>
                  <p>This is text for the third item</p>
                </div>
                <img src="images/transparent-pixel.gif"
                     data-carousel-src="images/img-desktop-3.png"
                     alt="Image 3">
              </div>
              <div class="carousel-item">
                <div class="carousel-item-text">
                  <h3>Header for the fourth item</h3>
                  <p>This is text for the fourth item</p>
                </div>
                <img src="images/transparent-pixel.gif"
                     data-carousel-src="images/img-desktop-4.png"
                     alt="Image 4">
              </div>
            </div>
          </div>
        </div>
        <!-- endcatch -->
        <!-- endcatch -->
      </div>
    </div>

    <!-- catch(css) -->
    <style type="text/x-example">
    /* SCSS */
    .outer-jsc {
      position: relative;
      border: 1px solid #fff;
      margin: 0 auto;
      width: 100%;
      height: 50vw;
      max-width: 900px;
      max-height: 400px;

      @media screen and (min-width: 768px) {
        width: 50vw;
        height: 30vw;
      }
    }

    .carousel-item-text {
      h3 { font-size: 1.8rem; }
      p { font-size: 1.4rem; }

      @media screen and (min-width: 767px) {
        h3 { font-size: 2.4vw; }
        p { font-size: 1.6vw; }
      }

      @media screen and (min-width: 1160px) {
        h3 { font-size: 2.4rem; }
        p { font-size: 1.6rem; }
      }
    }
    </style>
    <!-- endcatch -->
