    <div class="container p3">
      <div class="site-width">
        <h2>Max width, fixed height</h2>
        <!-- catch(tab) -->
        <!-- catch(source) -->
        <div class="outer-jsc">
          <div class="carousel" data-carousel-delay="8000">
            <div class="carousel-slider">
              <div class="carousel-item">
                <div class="carousel-item-text">
                  <h3>Header for the first item</h3>
                  <p>This is text for the first item</p>
                </div>
                <img src="images/transparent-pixel.gif"
                     data-carousel-src="images/img-desktop-1.png"
                     alt="Image 1" />
              </div>
              <div class="carousel-item">
                <div class="carousel-item-text">
                  <h3>Header for the second item</h3>
                  <p>This is text for the second item</p>
                </div>
                <img src="images/transparent-pixel.gif"
                     data-carousel-src="images/img-desktop-2.png"
                     alt="Image 2" />
              </div>
              <div class="carousel-item">
                <div class="carousel-item-text">
                  <h3>Header for the third item</h3>
                  <p>This is text for the third item</p>
                </div>
                <img src="images/transparent-pixel.gif"
                     data-carousel-src="images/img-desktop-3.png"
                     alt="Image 3" />
              </div>
              <div class="carousel-item">
                <div class="carousel-item-text">
                  <h3>Header for the fourth item</h3>
                  <p>This is text for the fourth item</p>
                </div>
                <img src="images/transparent-pixel.gif"
                     data-carousel-src="images/img-desktop-4.png"
                     alt="Image 4" />
              </div>
            </div>
          </div>
        </div>
        <!-- endcatch -->
        <!-- endcatch -->
      </div>
    </div>

    <!-- catch(css) -->
    <style type="text/x-example">
    .outer-jsc {
      position: relative;
      border: 1px solid #fff;
      margin: 0 auto;
      max-width: 720px;
      height: 450px;
    }
    </style>
    <!-- endcatch -->
