/*
  Author: Pontus Östlund <https://profiles.google.com/poppanator>
*/

$site-padding: 3rem;
$site-width: 1140px;
$header-bg: #E7445B;

*,*:after, *:before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: arial, sans-serif;
  line-height: 1.4;
}

header {
  background: $header-bg;
  color: white;

  p {
    margin: 0;
  }

  .container {
    padding: $site-padding/2 $site-padding;
  }
}

.container,
header {
  h1, h2, h3 {
    margin: 0;
  }

  a {
    text-decoration: none;
    display: inline-block;
    color: $header-bg;
    background: #E7E344;
    padding: 0 4px;
  }
}

.site-width {
  max-width: $site-width;
  margin: 0 auto;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: $site-padding;

  h2 {
    margin-bottom: $site-padding/2;
  }


  .outer-jsc {
    position: relative;
    height: 450px;
    border: 1px solid #fff;
    margin: 0 auto;
  }

  &.p1 {
    background-color: #ddddd5;
  }

  &.p2 {
    background-color: #555;
    color: #ccc;

    .outer-jsc {
      max-width: 500px;
      height: 280px;
    }
  }

  &.p3 {
    background-color: #656564;
    color: #ccc;

    .outer-jsc {
      max-width: 720px;
      height: 450px;
    }
  }

}

.intro {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }
}

pre {
  code {
    display: block;
    padding: $site-padding;
    background: #313138;
    color: #ccc;
  }
}
